/Docs/
/Standard/
/LocalizationStorage/.vs/
/LocalizationStorage/.cr/
/LocalizationStorage/bin/
/LocalizationStorage/obj/
/Bin/Logs/
/Bin/Data/*.bak
/Bin/LocalizationStorage.exe.config
/Bin/LocalizationStorage.pdb
