/Docs/
/Standard/
/LocalizationStorage/.vs/
/LocalizationStorage/.cr/
/LocalizationStorage/bin/
/LocalizationStorage/obj/
/Bin/Data/*.bak
/Bin/LocalizationStorage.exe.config
/Bin/LocalizationStorage.pdb
/LocalizationStorage/LocalizationStorage.csproj.user
/Bin/*.bat
/Bin/*.dll
/Bin/AI/azure.key
/Bin/Logs/*.txt
/Import/*
/*.zip
/Bin/Data/NoTranslationNeeded.xml
